$bwidth: 320px;
$font: "Open Sans", Arial, sans-serif;
$topline: 24px;
$main-sections-bg: #f2f2f2;
$dblue: #283645;
$table-border-color: #e5e5e5;
$crimson: #d22856;

@mixin clearfix {
  &:after {
		content: "";
		display: table;
		clear: both;
  }
}

@mixin heading {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


.b-page {
	font-family: $font;
	max-width: $bwidth;
	font-size: 14px;
	line-height: 30px;
}

.l-head {
	background: $dblue url('../img/bg-header-small.jpg') no-repeat center top;
	color: #fff;
	padding-bottom: 30px;

	a {
	color: #fff;
	}

	&__top {
	background: rgba(0,0,0,.3);
	padding: 20px;
	position: relative;
		@include clearfix;
	}

	&__top_open {
	background: $dblue;
	border-bottom: 1px solid #000;
	}

	&__l {
	float: left;
	width: 50%;
	line-height: $topline;
	}

	&__c {
	position: absolute;
	left: 0;
	right: 0;
	top: 65px;
	z-index: 1;

	@media screen and (min-width: 2000px) {
		float: left;
		max-width: 50%;
		line-height: $topline; 
		}

	}

	&__r {
	float: right;
	max-width: 50%;
	line-height: $topline;
	}	

}

.b-drop-link {
	display: block;
	width: 50px;
	height: $topline;	

	&_closed {
		background: url('../img/drop-menu.png') no-repeat center;
	}

	&_open {
		background: url('../img/drop-menu_close.png') no-repeat center;
	}	
}


.b-logo__logo{
	margin: 0;
	width: 74px;
	height: 24px;	
	background: url('../img/logo-pink-1.png') no-repeat;
}

.b-main-menu {
	display: none;
	width: 100%;

	&_open {
		display: block;
	}

	&__list {
	list-style: none;
	background: $dblue;
	padding: 0;
	margin: 0;
	}

	&__item {
	padding: 16px 0;
	border-top: 1px solid #485461;
	border-bottom: 1px solid #000;
	font-size: 18px;
	line-height: 32px;
	@include heading;

		a {
		text-decoration: none;
		}

	}

}



.l-promo {
	position: relative;
	text-align: center;

	&__slogan {
	padding: 0 8%;
	margin: 22px 0;
	}

	&__banner {
	position: absolute;
	top: 84px;
	left: 0;
	}

	&__download {
	margin-top: 310px;
	padding-top: 27px;
	border-top: 1px solid $dblue;
	background: $dblue;
	}

}

.b-slogan {	
	font-size: 24px;
	font-weight: 300;
}


.hand-with-iphone {
 	width: 258px;
 	height: 286px;
 	background: url('../img/hand-with-iphone.png') no-repeat;
 	background-size: 258px 286px;
 }

.b-download {

	&__link {
	display: block;
	padding: 15px;
	margin: 0 20px 30px;
	border: 3px solid #fff;
	border-radius: 30px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	}

	&__platforms {
		margin: 0 40px;
		font-weight: 300;		
		line-height: 24px;
	}

}

.b-icons {
	margin: 25px auto 10px;

	&__icon {
		display: inline-block;
		vertical-align: 0;
		margin-right: 27px;
	}

	&__icon:last-child {
		margin-right: 0;
	}

	&__icon_apple {
		width: 47px;
		height: 60px;
		background: url('../img/apple-logo.svg') no-repeat;
	}

	&__icon_android {
		width: 48px;
		height: 50px;
		background: url('../img/android-logo.svg') no-repeat;
	}

	&__icon_windows {
		width: 47px;
		height: 47px;
		background: url('../img/microsoft-logo.svg') no-repeat;
	}
}

.l-main-row1 {
	position: relative;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 55px;

	&:after {
	content: "";
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: -70px;
	-webkit-transform: skewY(-6deg);
	-ms-transform: skewY(-6deg);
	-o-transform: skewY(-6deg);
	transform: skewY(-6deg);
	background: $main-sections-bg;
	}
}

.b-offer {
	padding: 0 55px;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}

.b-smile-phone {
	width: 180px;
	height: 280px;
	margin: 0 auto 0;
	background: url('../img/bg-iphone-with-smile.png') no-repeat center top;
}

.l-main-row2 {
	padding-top: 10px;
	background: $main-sections-bg;
}

.b-benefits {
	text-align: center;
}

.b-extended-list {
	margin: 0;
	padding: 30px 30px 10px;
	list-style: none;

	h3 {
	margin: 15px 0 20px;
	font-size: 18px;
	line-height: 10px;
	}

	p {
	margin: 0 0 30px;
	font-size: 14px;
	line-height: 24px;
	}

}

.l-main-row3 {
	position: relative;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 95px;

	&:after {
	content: "";
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: -60px;
	-webkit-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	background: $main-sections-bg;
	}
}

.l-main-row4 {
	background: $main-sections-bg;
	padding-top: 35px;
	padding-bottom: 40px;
}

.b-slider-references {
	position: relative;
	width: 320px;	
	margin: 0 auto;
	text-align: center;

	&__frame {
		width: 320px;
		overflow: hidden;
	}

	&__slides-list {
		width: 960px;
	}

	&__slide-item {
		float: left;
		width: 320px;
		padding-bottom: 30px;

		h3 {
			font-size: 18px;
			line-height: 30px;
			font-weight: 700;
		}

		p {
			font-size: 14px;
			line-height: 30px;
			padding-left: 10px;
			padding-right: 10px;

		}
	}

	&__controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 12px;
  margin-left: -35px;
  text-align: center;
  z-index: 1000;
	}

	[type="radio"] {
		display: none;
	}

}


.b-slider-table {

	position: relative;
	padding-bottom: 50px;

	&__frame {
		overflow: hidden;
		width: 320px;
		margin: 0 auto;
	}

	&__table {
	width: 840px;
	 
	 	div {
	 		-webkit-box-sizing: border-box;
   			 -moz-box-sizing: border-box;
       				box-sizing: border-box;
	 	}

	 	& > div:first-child {
	 		display: none;
	 	}

	}

	&__column {
	position: relative;
	width: 280px;
	float: left;
	border-left: 2px solid $table-border-color;
	border-right: 2px solid $table-border-color;

		& > div:first-child {			
			padding: 18px 25px;
			background: $dblue;
			font-size: 18px;
			line-height: 30px;
			color: #fff;
			border-bottom: none;
			@include heading;

			span {
				display: block;
				font-size: 24px;
				line-height: 30px;
				font-weight: 300;
			}
		}
	}

	&__cell {
	width: 280px;
	background: #fff;
	border-bottom: 2px solid $table-border-color;
	padding: 15px 25px;
	text-transform: uppercase;

		&_pink:before {
			content: 'Розовый фильтр';
		}

		&_smile:before {
			content: 'Смайлики';
		}

		&_comment:before {
			content: 'Комментарии';
		}

		&_yes:after {
			content: '';
			display: block;
			float: right;
			width: 29px;
			height: 22px;
			background: url('../img/icon-yes.png') no-repeat;
		}

		&_no:after {
			content: '';
			display: block;
			float: right;
			width: 26px;
			height: 26px;
			background: url('../img/icon-no.png') no-repeat;
		}

		&_badge:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 74px;
			height: 74px;
			background: linear-gradient(-45deg, transparent 50%, $crimson 50%, $crimson 80%, transparent 80%);
		}

		&_hit:after {
			content: "Хит";
			position: absolute;
			color: #fff;
			top: 12px;
			left: 11px;
			font-size: 14px;
			line-height: 30px;
			font-weight: 500;
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);

		}

	}



	&__controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 12px;
  margin-left: -35px;
  text-align: center;
  z-index: 1000;
	}

	[type="radio"] {
		display: none;
	}
}

.b-slide-control {
  display:inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: #bec2c7;
  background-clip: content-box;
  border: 3px solid transparent;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;

  &_dark {
  	background: #b5b9be;
  	background-clip: content-box;
  }
}


#btn-11:checked ~ .b-slider-references__controls label[for="btn-11"],
#btn-12:checked ~ .b-slider-references__controls label[for="btn-12"],
#btn-13:checked ~ .b-slider-references__controls label[for="btn-13"] {	
  background: none;
  border: 3px solid $dblue; 
}


#btn-11:checked ~ .b-slider-references__frame .b-slider-references__slides-list { 
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
#btn-12:checked ~ .b-slider-references__frame .b-slider-references__slides-list { 
  -webkit-transform: translate(-320px);
      -ms-transform: translate(-320px);
          transform: translate(-320px);
}
#btn-13:checked ~ .b-slider-references__frame .b-slider-references__slides-list {
  -webkit-transform: translate(-640px); 
      -ms-transform: translate(-640px); 
          transform: translate(-640px);
}

#btn-21:checked ~ .b-slider-table__controls label[for="btn-21"],
#btn-22:checked ~ .b-slider-table__controls label[for="btn-22"],
#btn-23:checked ~ .b-slider-table__controls label[for="btn-23"] {	
  background: #fff;
  border: 3px solid $dblue; 
}


#btn-21:checked ~ .b-slider-table__frame .b-slider-table__table { 
  -webkit-transform: translate(20px);
      -ms-transform: translate(20px);
          transform: translate(20px);
}
#btn-22:checked ~ .b-slider-table__frame .b-slider-table__table { 
  -webkit-transform: translate(-260px);
      -ms-transform: translate(-260px);
          transform: translate(-260px);
}
#btn-23:checked ~ .b-slider-table__frame .b-slider-table__table {
  -webkit-transform: translate(-540px); 
      -ms-transform: translate(-540px); 
          transform: translate(-540px);
}

.b-contacts-ext {
	text-align: center;
	background: url('../img/map-with-dot.png') no-repeat center bottom;
	padding-bottom: 200px;

	&__text {
	position: relative;
	background: #fff;
	padding: 20px;

		p {
			font-size: 18px;
			line-height: normal;
			font-weight: 700;
		}

		p:first-child {
			font-size: 24px;
			line-height: normal;
			font-weight: 300;
		}

		&:after {
			content: "";
			position: absolute;
			height: 50px;
			width: 50%;
			left: 0;
			bottom: -20px;
			-webkit-transform: skewY(12deg);
			-ms-transform: skewY(12deg);
			-o-transform: skewY(12deg);
			transform: skewY(12deg);
			background: #fff;
		}

		&:before {
			content: "";
			position: absolute;
			height: 50px;
			width: 50%;
			right: 0;
			bottom: -20px;
			-webkit-transform: skewY(-12deg);
			-ms-transform: skewY(-12deg);
			-o-transform: skewY(-12deg);
			transform: skewY(-12deg);
			background: #fff;
		}

		a {
			color: $crimson;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

	}

	span {
		display: block;
		color: $crimson;
		font-size: 24px;
		line-height: normal;
		font-weight: 300;
	}

}

