
/* ---------------------------------------------------------------------

SETTINGS

---------------------------------------------------------------------- */

$font: "Open Sans", Arial, sans-serif;
$topline: 24px;
$footerline: 60px;
$main-sections-bg: #f2f2f2;
$dblue: #283645;
$table-border-color: #e5e5e5;
$crimson: #d22856;

@mixin clearfix {
  &:after {
		content: "";
		display: table;
		clear: both;
  }
}

@mixin heading {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


/* ---------------------------------------------------------------------

MOBILE FIRST

---------------------------------------------------------------------- */


/* 1.BODY
---------------------------------------------------------------------- */

.b-page {
	font-family: $font;
	font-size: 14px;
	line-height: 30px;
	max-width: 640px;
}


/* 2.LAYOUT
---------------------------------------------------------------------- */


.l-head {
	background: url('../img/hand-with-iphone-320.png'),
							 url('../img/bg-header-320.jpg');
	color: #fff;
	background-color: $dblue;
	background-position: 20% 178px, center top;
	background-repeat: no-repeat;
	background-size: 256px 286px, 700px 488px;

	@media(min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 1.5dppx) {

		background-image: url('../img/hand-with-iphone-320x2.png'),
							 url('../img/bg-header-320x2.jpg');

	}


	a {
	color: #fff;
	}

	&__top {
	background: rgba(0,0,0,.3);
	padding: 20px;
	position: relative;
	vertical-align: baseline;
	border-bottom: 1px solid transparent;
		@include clearfix;
	}

	&__top_open {
	background: $dblue;
	border-bottom: 1px solid #000;
	}

	&__l {
	float: left;
	max-width: 50%;
	line-height: $topline;
	}

	&__c {
	position: absolute;
	left: 0;
	right: 0;
	top: 65px;
	z-index: 1;
	}

	&__r {
	float: right;
	max-width: 50%;
	line-height: $topline;
	}	

}

.l-promo {
	position: relative;
	text-align: center;

	&__slogan {
	padding: 0 8%;
	margin: 22px 0;
	}

	&__download {
	margin-top: 310px;
	padding-top: 27px;	
	padding-bottom: 30px;
	background: $dblue;
	}

}

.l-main-row1 {
	position: relative;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 55px;

	&:after {
	content: "";
	position: absolute;
	height: 25%;
	width: 100%;
	bottom: -14%;
	-webkit-transform: skewY(-4.5deg);
	-ms-transform: skewY(-4.5deg);
	-o-transform: skewY(-4.5deg);
	transform: skewY(-4.5deg);
	background: $main-sections-bg;
	}
}

.l-main-row2 {
	padding-top: 10px;
	background: $main-sections-bg;
	position: relative;

	&__c {
	text-align: center;
	}
}


.l-main-row3 {
	position: relative;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 95px;

	&:after {
	content: "";
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: -60px;
	-webkit-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	background: $main-sections-bg;
	}
}

.l-main-row4 {
	background: $main-sections-bg;
	padding-top: 35px;
	padding-bottom: 40px;
}


.l-footer {
	display: none;
}

/* 3.BLOCKS
---------------------------------------------------------------------- */

/* Top blocks */


.b-logo {  

	&__logo{
		margin: 0;
		width: 74px;
		height: 24px;	
		background: url('../img/logo-pink-1.png') no-repeat;
		}	
}


.b-drop-link {
	display: inline-block;
	width: 50px;
	height: 24px;	

	&_closed {
		background: url('../img/icon-burger1.svg') no-repeat center;

		&:hover {
			background: url('../img/icon-burger2.svg') no-repeat center;	
		}

		&:active {
			background: url('../img/icon-burger3.svg') no-repeat center;	
		}
	}

	&_open {
		background: url('../img/icon-cross1.svg') no-repeat center;

		&:hover {
			background: url('../img/icon-cross2.svg') no-repeat center;	
		}

		&:active {
			background: url('../img/icon-cross3.svg') no-repeat center;	
		}
	}	
}


.b-main-menu {
	display: none;
	width: 100%;

	&_open {
		display: block;
	}

	&__list {
	list-style: none;
	background: $dblue;
	padding: 0;
	margin: 0;
	}

	&__item {
	padding: 16px 0;
	border-top: 1px solid #485461;
	border-bottom: 1px solid #000;
	font-size: 18px;
	line-height: 32px;
	@include heading;

		a {
		text-decoration: none;

			&:hover {
			color: $crimson;
			}

			&:active {
			color: $crimson;
			opacity: .3;
			}

		}

	}

}

/* Promo section blocks */

.b-slogan {	
	font-size: 24px;
	font-weight: 300;
}


.b-download {

	&__link {
	display: block;
	padding: 15px;
	max-width: 264px;
	margin: 0 auto 30px;
	border: 3px solid #fff;
	border-radius: 30px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;

		&:hover {
			background-color: #fff;
			color: $crimson;
		}

		&:active {
			background-color: #fff;
			color: rgba(210,40,86,.3);
		}
	}

	&__platforms {
		margin: 0 40px;
		font-weight: 300;		
		line-height: 24px;
	}

}

.b-icons {
	margin: 25px auto 10px;

	&__icon {
		display: inline-block;
		vertical-align: 0;
		margin-right: 27px;
	}

	&__icon:last-child {
		margin-right: 0;
	}

	&__icon_apple {
		width: 47px;
		height: 60px;
		background: url('../img/apple-logo.svg') no-repeat;
	}

	&__icon_android {
		width: 48px;
		height: 50px;
		background: url('../img/android-logo.svg') no-repeat;
	}

	&__icon_windows {
		width: 47px;
		height: 47px;
		background: url('../img/microsoft-logo.svg') no-repeat;
	}
}

/*Main section blocks*/


.b-offer {
	padding: 0 55px;
	text-align: center;
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 300;	
}

.b-smile-phone {
	width: 180px;
	height: 280px;
	margin: 0 auto 0;
	background: url('../img/bg-iphone-with-smile-320.png') no-repeat center top;
	background-size: 157px 320px;

		@media(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx) {

			background-image: url('../img/bg-iphone-with-smile-320x2.png');

		}

}


.b-benefits {
	margin: 0;
	padding: 0 30px 10px;
	list-style: none;

	h3 {
	margin: 15px 0 20px;
	font-size: 18px;
	line-height: 10px;
	}

	p {
	margin: 0 0 30px;
	font-size: 14px;
	line-height: 24px;
	}

}

.b-research {
	display: none;
}

.b-reference {
	display: flex;
	flex-flow: column;

		h3 {
			font-size: 18px;
			line-height: 30px;
			font-weight: 700;
		}

		p {
			font-size: 14px;
			line-height: 30px;
			padding-left: 10px;
			padding-right: 10px;
		}

		span {
			display: none;
		}
	}

.b-slide-control {
  display:inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: $dblue;
  opacity: .3;
  background-clip: content-box;
  border: 3px solid transparent;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;

  &_dark {
  	background: #b5b9be;
  	background-clip: content-box;
  }

  :hover > & {
		opacity: .6;
	}

	:active > & {
		opacity: .1;
	}
}	

/*Slider with references*/


.b-slider-references {
	position: relative;
	width: 95%;	
	margin: 0 auto;
	text-align: center;

	&__frame {
		width: 100%;
		overflow: hidden;
	}

	&__slides-list {
		width: 300%;
	}

	&__slide-item {
		float: left;
		width: 33.3%;
		padding-bottom: 30px;
	}

	&__controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 12px;
  margin-left: -35px;
  text-align: center;
  z-index: 1000;
	}

	[type="radio"] {
		display: none;
	}
}


#btn-11:checked ~ .b-slider-references__controls label[for="btn-11"],
#btn-12:checked ~ .b-slider-references__controls label[for="btn-12"],
#btn-13:checked ~ .b-slider-references__controls label[for="btn-13"] {	
  background: none;
  border: 3px solid $dblue;
  opacity: 1; 
}


#btn-11:checked ~ .b-slider-references__frame .b-slider-references__slides-list { 
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

#btn-12:checked ~ .b-slider-references__frame .b-slider-references__slides-list { 
  -webkit-transform: translate(-33%);
      -ms-transform: translate(-33%);
          transform: translate(-33%);          
}
#btn-13:checked ~ .b-slider-references__frame .b-slider-references__slides-list {
  -webkit-transform: translate(-67%); 
      -ms-transform: translate(-67%); 
          transform: translate(-67%);
}


/* Table */

.b-slider-table {

	position: relative;
	padding-bottom: 50px;

	&__frame {
		overflow: hidden;
		width: 320px;
		margin: 0 auto;
	}

	&__table {
	width: 840px;
	@include clearfix;

	 	div {
	 		-webkit-box-sizing: border-box;
   			 -moz-box-sizing: border-box;
       				box-sizing: border-box;
	 	}

	 	& > div:first-child {
	 		display: none;
	 	}
	}

	&__column {
	position: relative;
	width: 280px;
	float: left;
	}

	&__cell {
	position: relative;
	width: 280px;
	background: #fff;
	border-bottom: 2px solid $table-border-color;	
	border-right: 2px solid $table-border-color;
	padding: 15px 25px;
	text-transform: uppercase;
	min-height: 64px;

	:first-child > & {		
		border-left: 2px solid $table-border-color;
	}

	ins {
		display: none;
	}

	&_head {			
		padding: 18px 25px;
		background: $dblue;
		font-size: 18px;
		line-height: 30px;
		color: #fff;
		border-bottom: none;
		@include heading;

			span {
				display: block;
				font-size: 24px;
				line-height: 30px;
				font-weight: 300;
			}
		}

		&_pink:before {
			content: 'Розовый фильтр';
			display: inline-block;
			max-width: 200px;
		}

		&_smile:before {
			content: 'Смайлики';
			display: inline-block;
			max-width: 200px;
		}

		&_comment:before {
			content: 'Комментарии';
			display: inline-block;
			max-width: 200px;
		}

		&_yes:after {
			content: '';
			position: absolute;
			right: 25px;
			top: 15px;
			width: 29px;
			height: 22px;
			background: url('../img/icon-yes.png') no-repeat;
		}

		&_no:after {
			content: '';
			position: absolute;
			right: 25px;
			top: 15px;
			width: 26px;
			height: 26px;
			background: url('../img/icon-no.png') no-repeat;
		}

		&_badge:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 74px;
			height: 74px;
			background: linear-gradient(-45deg, transparent 53%, $crimson 53%, $crimson 82%, transparent 82%);
		}

		&_hit:after {
			content: "Хит";
			position: absolute;
			color: #fff;
			text-transform: uppercase;
			top: 12px;
			left: 11px;
			font-size: 14px;
			line-height: 30px;
			font-weight: 500;
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);

		}

	}

	&__controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 12px;
  margin-left: -35px;
  text-align: center;
  z-index: 1000;
	}

	[type="radio"] {
		display: none;
	}
}


#btn-21:checked ~ .b-slider-table__controls label[for="btn-21"],
#btn-22:checked ~ .b-slider-table__controls label[for="btn-22"],
#btn-23:checked ~ .b-slider-table__controls label[for="btn-23"] {	
  background: #fff;
  border: 3px solid $dblue; 
  opacity: 1; 
}


#btn-21:checked ~ .b-slider-table__frame .b-slider-table__table { 
  -webkit-transform: translate(20px);
      -ms-transform: translate(20px);
          transform: translate(20px);
}
#btn-22:checked ~ .b-slider-table__frame .b-slider-table__table { 
  -webkit-transform: translate(-260px);
      -ms-transform: translate(-260px);
          transform: translate(-260px);
}
#btn-23:checked ~ .b-slider-table__frame .b-slider-table__table {
  -webkit-transform: translate(-540px); 
      -ms-transform: translate(-540px); 
          transform: translate(-540px);
}

/* Footer blocks */

.b-contacts-ext {
	text-align: center;
	background: url('../img/map-320.png') no-repeat center bottom;
	padding-bottom: 200px;
	z-index: -2;

	&__text {
	position: relative;
	margin-bottom: -40px;
	text-align: center;
	z-index: 1;

		p {
			font-size: 18px;
			line-height: normal;
			font-weight: 700;
			color: $dblue;
		}

		p:first-child {
			font-size: 24px;
			line-height: normal;
			font-weight: 300;
		}

		p:nth-child(4) {		
			margin-bottom: 30px;
			max-width: 280px;
			margin-left: auto;
			margin-right: auto;
		}

		&:after {
			content: "";
			position: absolute;
			height: 22%;
			width: 50%;
			left: 0;
			bottom: -10%;
			-webkit-transform: skewY(12deg);
			-ms-transform: skewY(12deg);
			-o-transform: skewY(12deg);
			transform: skewY(12deg);
			background: #fff;
			z-index: -1;
			border-right: 1px solid #fff;
		}

		&:before {
			content: "";
			position: absolute;
			height: 22%;
			width: 50%;
			right: 0;
			bottom: -10%;
			-webkit-transform: skewY(-12deg);
			-ms-transform: skewY(-12deg);
			-o-transform: skewY(-12deg);
			transform: skewY(-12deg);
			background: #fff;
			z-index: -1;
			border-left: 1px solid #fff;
		}

		a {
			color: $crimson;
			text-decoration: none;

				&:hover {
							text-decoration: underline;
							color: #283645;
						}

				&:active {
							text-decoration: underline;
							color: #283645;
							opacity: .3;
						}

		}	

	}

	span {
		display: block;
		color: $crimson;
		font-size: 24px;
		line-height: normal;
		font-weight: 300;
	}

}


/* ---------------------------------------------------------------------

TABLET

---------------------------------------------------------------------- */

@media screen and (min-width: 640px) {


$topline: 59px;


/* 1.BODY
---------------------------------------------------------------------- */

	.b-page {
		max-width: 940px;
	}


/* 2.LAYOUT
---------------------------------------------------------------------- */


	.l-head {
		background: url('../img/hand-with-iphone-700.png'),
								 url('../img/bg-header-700.jpg');
		color: #fff;
		background-color: $dblue;
		background-position: 96% 100%, center top;
		background-repeat: no-repeat;
		background-size: 700px 545px, 1200px 729px;
		min-height: 729px;

		@media(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx) {

			background-image: url('../img/hand-with-iphone-700x2.png'),
								 url('../img/bg-header-700x2.jpg');

		}



			&__top {
				padding: 25px 45px;
				height: 59px;
			}

				&__l {
					line-height: $topline;
				}

					&__c {
					top: 110px;
				}

					&__r {
					line-height: $topline;
					min-height: $topline;
				}	

	}

	.l-promo {

		&__slogan {
				width: 50%;
				max-width: 240px;
				padding: 0 40px 0 60px;
				margin: 0;
				text-align: center;
				margin-top: 90px;
		}


		&__download {
				padding: 0 20px 0 20px;
				margin: 0;
				max-width: 320px;
				padding-top: 35px;	
				padding-bottom: 40px;
				background: transparent;
		}
	}

	.l-main-row2 {
		min-height: 420px;

			&__c {
				text-align: left;
				margin-left: 320px; 
				max-width: 50em;
			}
	}


	.l-footer {
	display: block;
	@include clearfix;
	padding: 35px 4%;

	&__l {
		float: left;
		width: 31%;
		min-width: 150px;
		height: $footerline; 
		line-height: $footerline;
		vertical-align: middle;
	}

	&__c {
		float: left;
		max-width: 31%;
		min-width: 190px;
		height: $footerline; 
		line-height: $footerline;
		vertical-align: middle;
	}

	&__r {
		float: right;
		width: 32%;
		min-width: 200px;
		height: $footerline; 
		line-height: $footerline;
		vertical-align: middle;
	}	

}

	.l-main-row3 {
	padding-top: 5px;
	}

	.l-main-row4 {
		padding-top: 25px;
	}


/* 3.BLOCKS
---------------------------------------------------------------------- */

/* Top blocks */

.b-logo {  

	&__logo{
		width: 145px;
		height: 40px;	
		background: url('../img/logo-pink-2.png') no-repeat;
		background-size: 145px 40px;
		display: inline-block;		

			@media(min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {

				background-image: url('../img/logo-pink-2-x2.png');

			}
		}	

	&_footer {
		
		.b-logo__logo {
			margin: 5px 0 12px;
			width: 145px;
			height: 40px;	
			background: url('../img/logo-pink-footer.png') no-repeat;
			background-size: 145px 40px;	

			@media(min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {

				background-image: url('../img/logo-pink-footer-x2.png');

			}
		}	
	}
}


/* Promo section blocks */


	.b-slogan {		
	 	font-size: 40px;
	 	line-height: 1.2em;
	}


	.b-download {

			&__link {				
				padding: 15px 35px;
			}

			&__platforms {
				 	font-size: 18px;
				 	margin: 0 10px;
			}
	}

/*Main section blocks*/

	.b-offer {
		font-size: 40px;

		p:first-child {
			margin: 40px 0 0;
		}

		p:last-child {
			margin: 0 20px 40px;
		}
	}

	.b-smile-phone {
		position: absolute;
		width: 268px;
		height: 481px;
		bottom: 0;
		left: 40px;
		background: url('../img/bg-iphone-with-smile-700.png') no-repeat center top;
		background-size: 268px 481px;

			@media(min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {

				background-image: url('../img/bg-iphone-with-smile-700x2.png');

			}
	}

	.b-research {
		display: block;
		position: relative;
		background-color: #fff;
		min-height: 235px;
		padding: 45px 20px 45px 340px;
		background-image:  url('../img/timer-2.svg');
		background-repeat: no-repeat;
		background-size: 265px 305px;
		background-position: 40px 45px;
		min-height: 305px;

			&:before {
				content: "24";
				position: absolute;
				color: $crimson;
				border: 10px solid $crimson;
				border-radius: 50%;
				width: 195px;
				height: 193px;
				line-height: 193px;
				text-align: center;
				top: 110px; 
				left: 65px;
				font-size: 105px;
			}

			h3 {
				font-size: 30px;
				line-height: 36px;
				font-weight: 700;
				width: 50%;
			}

			p {
				line-height: 24px;
			}

			a {
				color: $crimson;

					&:hover {
						text-decoration: none;
						color: #283645;
					}																

				}
	}

	.b-reference {
			flex-flow: column-reverse;

			h3 {
				font-size: 20px;
			}

			p {
				font-size: 18px;
			}

			span {
				display: block;
				font-size: 14px;
				font-weight: 400;
			}

		}

	/* Table */

	.b-slider-table {
		padding: 0 24px 20px;	

		&__frame {			
			width: 100%;			
		}	

		&__table {

		width: 100%;	
	  -webkit-transform: translate(0) !important;  
	      -ms-transform: translate(0) !important;  
	          transform: translate(0) !important; 
	
	 
		 	& > div:first-child {
					display: block;	
			}

		 	& > div:not(:first-child) {

				[class *='pink']:before, [class *='smile']:before, [class *='comment']:before {
					content: ' ';
					display: block;
				}	
			}	
		}

		&__column {
				width: 25%;			
		}

		&__controls {
				display: none;		
			}

		&__cell {

		width: 100%;
		text-transform: none;	
		padding: 8px 15px;
		min-height: 50px;			

		&_head {

			font-size: 16px;
			min-height: 80px;	

			:first-child > & {
				background: none;
				border: none;
			}

			span {
			font-size: 18px;
			}
		}

		&_yes:after, &_no:after  {
			left: 45%;
		}

		&_badge:before {
			width: 60px;
			height: 60px;
		}

		&_hit:after {
				top: 6px;
				left: 7px;
		}
	}
}	


/* Footer blocks */

	.b-contacts-ext {

		background: url('../img/map-700.png') no-repeat center bottom;
		padding-bottom: 415px;
		z-index: -2;

		&__text {
		padding: 10px;
		padding-top: 5px;
		margin-bottom: -50px;
		z-index: 1;

			&:after {
				height: 25%;
				width: 50%;
				left: 0;
				bottom: -3%;
				z-index: -1;
			}

			&:before {
				height: 25%;
				width: 50%;
				right: 0;
				bottom: -3%;
				z-index: -1;
			}

			p:first-child {			
				font-size: 40px;
				line-height: 50px;
				margin-bottom: 20px;
			}

			p:nth-child(2) {			
				float: left;
				width: 45%;
				padding-left: 5%;
			}

			p:nth-child(3) {			
				float: right;
				width: 45%;
				padding-right: 5%;
			}

			p:nth-child(4) {	
				padding-top: 20px;		
				padding-right: 25%;
				padding-left: 25%;
				clear: both;
			}
		}
	}



	.b-social {
		display: inline-block;
	

	&__icon {
		display: inline-block;
		width: 44px;
		height: 44px;
		line-height: 44px;
		text-align: center;
		border: 3px solid #e9ebec;
		border-radius: 50%;
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border-color: #283645;
		}

		&:active {
			border-color: #283645;
			opacity: .3;
		}

		svg {
			position: relative;
			fill: $crimson;

			:active > & {
				opacity: .3;
			}
		}

		&_tw {

			& svg {
			top: 2px;
			clip-rule:	evenodd;
			fill-rule:	evenodd;
			}

		}

		&_fb {

			& svg {
			top: 4px;	
			}
		}

		&_yt {

			& svg {
			top: 2px;
			left: 2px;
			}

		}
	}

}

.b-copyright {	
	display: inline-block;

	svg {
		vertical-align: middle;
		fill: $crimson;

		&:hover {
			fill: #283645;
		}

		&:active  {
			fill: #283645;
			opacity: .3;
		}	
	}

	a {
		display: inline-block;
		margin: 0 12px;

		&:last-child {
			margin-right: 0;
		}
	}

}
}

/* ---------------------------------------------------------------------

DESKTOP

---------------------------------------------------------------------- */

@media screen and (min-width: 940px) {


$topline: 59px;
$footerline: 57px;


/* 1.BODY
---------------------------------------------------------------------- */

	.b-page {
		max-width: 1280px;
	}


/* 2.LAYOUT
---------------------------------------------------------------------- */

.l-head {
	background: url('../img/hand-with-iphone-1200.png'),
							 url('../img/bg-header-1200.jpg');
	color: #fff;
	background-color: $dblue;
	background-position: 65% 100%, center top;
	background-repeat: no-repeat;
	background-size: 1050px 645px, 1282px 855px;
	min-height: 855px;

		@media(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx) {

			background-image: url('../img/hand-with-iphone-1200x2.png'),
								 url('../img/bg-header-1200x2.jpg');

		}

	&__top_open {
		display: none;
	}

	&__l {
		float: left;
		max-width: 20%;
		line-height: $topline;
	}

	&__c {
		position: static;
		float: right;
		max-width: 80%;
		line-height: $topline; 
	}

	&__r {
	display: none;
	}	

}


.l-wrapper {
	max-width: 940px;
	margin: 0 auto;
}

.l-promo {

	&__slogan {
			width: 40%;
			max-width: 240px;
			padding: 0 45px 0 45px;
			margin: 0;
			text-align: center;
			margin-top: 110px;
			margin-bottom: 10px;
	}


	&__download {
			padding: 0;
			margin: 0;
			max-width: 330px;
			padding-top: 35px;	
			padding-bottom: 40px;
			background: transparent;
	}
}

.l-main-row1 {
	padding-bottom: 85px;

	&:after {
	content: "";
	position: absolute;
	height: 60%;
	width: 100%;
	bottom: -40%;
	-webkit-transform: skewY(-4.5deg);
	-ms-transform: skewY(-4.5deg);
	-o-transform: skewY(-4.5deg);
	transform: skewY(-4.5deg);
	background: $main-sections-bg;
	}
}


.l-main-row2 {
	min-height: 420px;

		&__c {
			text-align: left;
			margin: 0;
			max-width: 100%;
		}
}

.l-main-row3 {
	padding-top: 0;
	padding-bottom: 95px;

	&:after {
	content: "";
	position: absolute;
	height: 16%;
	width: 100%;
	bottom: -85px;
	-webkit-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	-o-transform: skewY(-4deg);
	transform: skewY(-4deg);
	background: $main-sections-bg;
	}
}

.l-main-row3a {
		background-color: $main-sections-bg;
}

.l-main-row4 {
	padding-top: 38px;
	padding-bottom: 75px;
}

.l-footer {
	padding: 70px 0;

	&__l {
		float: left;
		width: 33%;
		height: $footerline;
		margin-right: 7%;
		line-height: $footerline;
		vertical-align: middle;
	}

	&__c {
		float: left;
		width: 33%;
		height: $footerline;
		margin-right: 4%;
		line-height: $footerline;
		vertical-align: middle;
	}

	&__r {
		float: right;
		max-width: 23%;
		height: $footerline;
		line-height: $footerline;
		vertical-align: middle;
	}	

}



/* 3. BLOCKS
---------------------------------------------------------------------- */

.b-logo {  

	&__logo{
		margin: 0;
		width: 146px;
		height: 40px;	
		background: url('../img/logo-pink-3.png') no-repeat;
		background-size: 146px 40px;

			@media(min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {

				background-image: url('../img/logo-pink-3-x2.png');

			}
		}	

		&_footer {
		display: inline-block;
		
		.b-logo__logo {
			margin: 2px 0 15px;
			width: 146px;
			height: 40px;	
			background: url('../img/logo-pink-3-footer.png') no-repeat 0 50%;
			background-size: 146px 40px;

				@media(min--moz-device-pixel-ratio: 1.5),
				(-o-min-device-pixel-ratio: 3/2),
				(-webkit-min-device-pixel-ratio: 1.5),
				(min-resolution: 1.5dppx) {

					background-image: url('../img/logo-pink-3-footer-x2.png');

				}
		}	
	}

}

.b-main-menu {
	display: block;
	width: 100%;

	&_open {
		display: none;
	}

	&__list {
	list-style: none;
	background: none;
	padding: 0;
	margin: 0;
	}

	&__item {
	display: inline-block;
	border: none;
	padding: 16px 0 16px 65px;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-align: left;
	text-transform: none;

		a {
		text-decoration: none;
		padding-bottom: 10px;

			&:hover {
			border-bottom: 2px solid #fff;
			color: #fff;
			}

			&:active {
			border-bottom: none;
			color: #fff;
			opacity: .3;
			}

		}

	}

}

	.b-slogan {		
	 	font-size: 50px;
	 	line-height: 1.2em;
	}


	.b-download {

			&__link {				
				padding: 15px 35px;
				margin-left: 0;
				margin-right: 0;
				font-size: 21px;
			}

			&__platforms {
				 	font-size: 18px;
				 	margin: 30px 10px;
			}
	}

	.b-icons {
	margin: 70px auto;
	}

	.b-offer {
		font-size: 50px;

		p:first-child {
			margin: 50px 0 0;
		}

		p:last-child {
			margin: 0 auto 125px;
			max-width: 460px;
		}
	}


	.b-smile-phone {
		display: none;
	}


	.b-benefits {
		margin: 0;
		padding: 0 0 10px;
		width: 100%;
		list-style: none;
		@include clearfix;

		&__item {
			float: left;
			position: relative;
			width: 300px;
			margin: 0;
			margin-right: 20px;
			padding: 0;
			text-align: center;
		}

		&__item:last-child {
			margin-right: 0;
		}

		&__item:before {
			position: absolute;
			display: block;
			content: '';
			width: 274px;
			height: 310px;
			top: -145px;
			left: 13px;
			background-image: url('../img/iphone-screen-border.png'),
												url('../img/iphone-screen-2-2@1x.png');
			background-position: 50% 100%, 50% 0;
			background-repeat: no-repeat;
			background-size: 294px 17px, 190px 300px;

		@media(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx) {

			background-image: url('../img/iphone-screen-border.png'),
												url('../img/iphone-screen-2-2@2x.png');

		}

		}

		&__item:first-child:before {
			background-image: url('../img/iphone-screen-border.png'),
												url('../img/iphone-screen-2-1@1x.png');		

		@media(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx) {

			background-image: url('../img/iphone-screen-border.png'),
												url('../img/iphone-screen-2-1@2x.png');

		}
		}

		&__item:last-child:before {
			background-image: url('../img/iphone-screen-border.png'),
												url('../img/iphone-screen-2-3@1x.png');

			@media(min--moz-device-pixel-ratio: 1.5),
			(-o-min-device-pixel-ratio: 3/2),
			(-webkit-min-device-pixel-ratio: 1.5),
			(min-resolution: 1.5dppx) {

				background-image: url('../img/iphone-screen-border.png'),
													url('../img/iphone-screen-2-3@2x.png');

			}
		}


		h3 {
		margin: 210px 0 25px;
		padding: 0 35px;
		font-size: 30px;
		line-height: 30px;
		}

		p {
		margin: 0 0 15px;
		padding: 0 30px;
		font-size: 18px;
		line-height: 30px;
		}

	}

	.b-research {
		margin: 0;
		margin-bottom: 20px;
		background-image:  url('../img/timer-4.svg');		
		padding: 45px 20px 45px 365px;
		background-color: $main-sections-bg;
		background-size: 300px 348px;
		background-position: 0 45px;
		min-height: 360px;

			&:before {
				width: 218px;
				height: 216px;
				line-height: 216px;
				top: 125px; 
				left: 30px;
				font-size: 120px;
				margin-right: 56px;
			}

			h3 {
				font-size: 30px;
				line-height: 30px;
				width: 100%;
				margin: 90px 0 25px;
			}

			p {
				font-size: 18px;
				line-height: 30px;
			}

			a {
				margin-top: 25px;
				font-size: 18px;				
			}
	}

.b-reference {
		position: relative;
		padding-top: 150px;
		padding-left: 100px;
		padding-right: 100px;

		h3 {
			font-size: 24px;
			line-height: 30px;
			font-weight: 700;
		}

		p {
			font-size: 18px;
			line-height: 30px;
			padding-left: 10px;
			padding-right: 10px;
		}

		span {
			display: block;
			font-size: 18px;
			line-height: 30px;
		}
	}

	.b-reference:before {
		position: absolute;
		display: block;
		content: "\201C";
		left: 370px;
		top: 130px;
		font-family: Georgia;
		font-size: 240px;
		line-height: 36px;
		width: 150px;
		height: 150px;
		color: #efefef; 
	}

	.b-slider-references__link {
	position: absolute;
	top: 50%;
	color: #000;

		&:before {
				display:block;
	  		content: '';
	  		width: 28px;
	  		height: 28px;
			  -webkit-transform: rotate(-45deg);
			      -ms-transform: rotate(-45deg);
			          transform: rotate(-45deg);
		}
 

  	&_left {
  		left: 0;

  		&:before {
	  		border-left: 2px solid #bec2c7;
	  		border-top: 2px solid #bec2c7;
  		}
  	}

  	&_right {
  		right: 0;

  		&:before {
  		border-right: 2px solid #bec2c7;
  		border-bottom: 2px solid #bec2c7;
  		}
  	}
	}

	/* Table */

	.b-slider-table {
		padding: 0 0 20px;	

		&__frame {			
			width: 100%;			
		}	

		&__table {

		width: 100%;	
	  -webkit-transform: translate(0) !important;  
	      -ms-transform: translate(0) !important;  
	          transform: translate(0) !important; 
	
	 
		 	& > div:first-child {
					display: block;	
			}

		 	& > div:not(:first-child) {

				[class *='pink']:before, [class *='smile']:before, [class *='comment']:before {
					content: ' ';
					display: block;
				}	
			}	
		}

		&__column {
				width: 25%;			
		}

		&__controls {
				display: none;		
			}

		&__cell {

		width: 100%;
		text-transform: none;	
		padding: 14px 15px;
		min-height: 60px;		
		font-size: 18px;	

		&_head {					
			padding: 20px 25px;
			font-size: 18px;
			min-height: 100px;
			text-transform: uppercase;	

			:first-child > & {
				background: none;
				border: none;
			}

			span {
			font-size: 24px;
			}
		}

		&_yes:after, &_no:after  {
			left: 45%;
		}

		&_badge:before {
			width: 60px;
			height: 60px;			
			background: linear-gradient(-45deg, transparent 50%, $crimson 50%, $crimson 82%, transparent 82%);
		}

		&_hit:after {
				top: 6px;
				left: 7px;
		}
	}
}	


	/* Footer blocks */

	.b-contacts-ext {

		text-align: center;
		background: url('../img/map-full.png') no-repeat center bottom;
		padding-bottom: 510px;
		z-index: -2;

		&__wrapper {
			margin: 0 auto;
			max-width: 940px;
			@include clearfix;
		}

		&__text {
		padding: 10px;
		padding-top: 15px;
		margin-bottom: -60px;
		z-index: 1;

			&:after {
				height: 65%;
				width: 50%;
				left: 0;
				bottom: -3%;
				z-index: -1;
				border-right: 1px solid #fff;
			}

			&:before {
				height: 65%;
				width: 50%;
				right: 0;
				bottom: -3%;
				z-index: -1;
				border-left: 1px solid #fff;
			}

			p:first-child {			
				font-size: 50px;
				line-height: 60px;
				margin-bottom: 35px;
			}

			p:nth-child(2) {			
				float: left;
				width: 300px;
				padding: 0;
				margin-right: 20px;
			}

			p:nth-child(3) {			
				float: right;
				width: 300px;
				padding: 0;
			}

			p:nth-child(4) {
				padding: 0;	
				float: left;
				width: 300px;
				margin-right: 20px;
				clear: none;
			}
		}

		span {
			margin-top: 20px;
		}
	}

	.b-copyright {

	font-size: 18px;
	line-height: 18px;

	a {
		display: inline-block;
		margin: 0 10px;
	}

}


} /* end of query */

/* ---------------------------------------------------------------------

EXTRA LARGE

---------------------------------------------------------------------- */

@media screen and (min-width: 1280px) {

	.b-page {
		max-width: 2560px;
	}

	.l-head {
		background: url('../img/hand-with-iphone-1200.png'),
								 url('../img/bg-header-full.jpg');
		background-position: 65% 100%, center center;
		background-repeat: no-repeat;
		background-size: 1050px 645px, cover;

		@media(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx) {

			background-image: url('../img/hand-with-iphone-1200x2.png'),
								 url('../img/bg-header-fullx2.jpg');

		}
	}


	.l-main-row1 {
		
		&:after {
		height: 60%;
		bottom: -40%;
		-webkit-transform: skewY(-3.5deg);
		-ms-transform: skewY(-3.5deg);
		-o-transform: skewY(-3.5deg);
		transform: skewY(-3.5deg);
		}
	}

	.l-main-row3 {
		&:after {
		content: "";
		-webkit-transform: skewY(-3.5deg);
		-ms-transform: skewY(-3.5deg);
		-o-transform: skewY(-3.5deg);
		transform: skewY(-3.5deg);
		}
	}

	.b-contacts-ext {
		background: url('../img/map-full1.png') no-repeat center bottom;

		&__text {

			&:after {
				-webkit-transform: skewY(7deg);
				-ms-transform: skewY(7deg);
				-o-transform: skewY(7deg);
				transform: skewY(7deg);
			}

			&:before {
				-webkit-transform: skewY(-7deg);
				-ms-transform: skewY(-7deg);
				-o-transform: skewY(-7deg);
				transform: skewY(-7deg);
			}
		}
	}

}

